#container{
    background-color: white;
    display: inline-block;
    border: 5px solid black;
    height: 30rem;
    width: 30rem;
    max-height: var(400px);;
    max-width: var(400px);;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%,-60%);
}

#grid{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: white;
}

.cell{
    background: white;
    border: 2px solid black;
}